<h1>Admin - Edit user password</h1>
<%= form_for(@user, url: update_password_user_path,html: { method: :patch }) do |f| %>
<% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.label :password %><br />
  <%= f.password_field :password, autocomplete: "new-password" %>

  <%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation, autocomplete: "new-password" %>

  <%= f.submit "Update Password" %>
<% end %>
